/* CommonPage.css */

.stocks-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.stocks-table th,
.stocks-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.stocks-table th {
    background-color: #f2f2f2;
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

.buy-button,
.sell-button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    cursor: pointer;
    border-radius: 4px;
    transition-duration: 0.4s;
}

.buy-button:hover,
.sell-button:hover {
    background-color: #45a049;
}