.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* index.css */

/* Add more styles as needed */

/* Footer navigation styles */
.footer-nav {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 20px;
  background-color: #333;
  /* Set your desired background color */
  color: #fff;
  margin-bottom: 500px;
  /* Set your desired text color */
}

.footer-nav nav {
  flex: 1;
  text-align: center;
}
.footer-nav-column {
  flex: 1;
  text-align: center;
  padding: 10px;
  /* Add padding between columns */
}
.footer-nav-row {
  display: block;
  margin-bottom: 10px;
  /* Add margin between rows */
}

.footer-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.link {
  display: block;
  margin-bottom: 5px;
}

.link-hover:hover {
  /* Add your hover styles */
}