/* LearnPage.css */

.learn-page-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.learn-section {
    margin-top: 20px;
}

.learn-section h2 {
    color: #3498db;
}

.learn-section p {
    margin-bottom: 10px;
}